header {
  position: relative;
}

.cabecalho-dash img {
  width: 50px;
}

.dash__conteudo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dash__conteudo__grupo {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-evenly;
}

.dash__conteudo__grupo__descricao-servidor {
  width: 30%;
}

.dash__conteudo__grupo__graficos {
  width: 60%;
}

#dash__conteudo__grupo__graficos__container1 {
  width: 100%;
}
