.cabecalho-dash img {
  width: 50px;
}

.dash__conteudo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dash__conteudo__grupo {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-evenly;
}

.div-procura {
  height: 25%;
}

#codec_icon_servidores {
  height: 100%;
}
