body {
  background-image: url("../assets/cadastro/background.svg");
  background-repeat: no-repeat;
  background-position: 140% 80%;
  background-size: 60%;
}

.cadastro_container {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  height: 100dvh;
  padding-top: 10px;
  box-sizing: border-box;
}
.cadastro_button_page {
  border-radius: 100px;
  padding: 10px 10px 10px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00863f;
  width: 170px;
  color: #fff;
  font-weight: 600;
}
.cadastro_button_page .icon_circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: #00a335;
  color: #fff;
}
.form .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.form .buttons p a {
  font-weight: 600;
  color: #00863f;
}
.cadastro_wrapper h1 {
  font-size: 44px;
  color: rgba(43, 43, 43);
}
.cadastro_wrapper h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(43, 43, 43, 0.5);
  margin-bottom: 10px;
}
.cadastro_container {
  padding-left: 10vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form .field {
  position: relative;
}
.form .field label {
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 14%;
  font-size: 14px;
  color: rgba(43, 43, 43, 0.5);
  transition: 0.25s;
}
.form .field .input_icon {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 5%;
  color: rgba(43, 43, 43, 0.5);
  user-select: none;
}
.form .field .password_icon {
  position: absolute;
  z-index: 10;
  top: 30%;
  right: 5%;
  cursor: pointer;
  color: rgba(43, 43, 43, 0.5);
  transition: 0.1s;
  user-select: none;
}
.form .field .password_icon:hover {
  color: rgba(43, 43, 43, 0.8);
}
.form .field input {
  border: #00863f 2px solid;
  background-color: #f4f4f4;
  font-size: 16px;
  padding: 15px 20px 15px 60px;
  border-radius: 100px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.form .field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: 10%;
  font-size: 10px;
}

.form .field select {
  border: #00863f 2px solid;
  background-color: #f4f4f4;
  font-size: 16px;
  padding: 15px 20px 15px 60px;
  border-radius: 100px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.form .field select:focus + label,
.field select:not(:placeholder-shown) + label {
  top: 10%;
  font-size: 10px;
}

@media (max-width: 1130px) {
  body {
    background-image: none;
  }
  .cadastro_container {
    justify-content: center;
    padding: 0;
    padding-top: 80px;
  }
}

@media (max-width: 600px) {
  .cadastro_wrapper {
    width: 80vw;
  }
}

.password_infos p {
  margin-left: 10px;
  font-weight: 600;
  color: rgba(43, 43, 43, 0.4);
  display: flex;
  align-items: center;
}
