/* pagina mural */

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #00863f;
  --light-primary-color: #00a335;
  --lightiest-primary-color: #87c984;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

a {
  text-decoration: none;
}

/* pagina graficos */

.dash {
  width: 85%;
  position: relative;
  top: 70px;
  left: 15%;
  background-color: #ebeeee;
  height: 100vh;
  overflow: auto;
}

.dash__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
}

header {
  position: fixed;
  z-index: 10;
  width: 85%;
  left: 15%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.cabecalho-dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.nome-dash {
  display: flex;
  align-items: center;
}

.nome-dash i {
  margin: 0 20px;
  font-size: 40px;
}

.nome-dash h3 {
  font-size: 25px;
}

.icone-usuario i {
  font-size: 30px;
  cursor: pointer;
  align-items: end;
  padding-right: 30px;
}

.janela {
  display: flex;
}

.header-left a {
  text-decoration: none;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header-left h1 {
  text-align: center;
  color: #00863f;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: alro-400;
}

.btn-nav {
  padding: 10px 0;
}

.btn-nav a,
.btn-logout {
  display: flex;
  align-items: center;
}

.btn-nav i {
  width: 20px;
  font-size: 20px;
  margin: 0 20px;
}

.ativo {
  background-color: #87c984;
  border-left: 5px solid #00863f;
  color: #00863f;
}

.btn-nav h3,
.btn-logout h3 {
  padding: 0;
  margin: 0;
}

/* PARTE Administração Usuários */
.div-links-contas {
  align-self: flex-end;
}

.div-links-contas a {
  background-color: var(--primary-color);
  width: 14rem;
  height: 3.5rem;
  border-radius: 15px;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
  border: 2px solid var(--primary-color);
  text-decoration: none;
}

.div-links-contas a:hover {
  transform: translateY(-3px);
  color: var(--primary-color);
  background-color: #ffffff;
  border: 2px solid var(--primary-color);
}

.div-links-contas a:active {
  color: var(--primary-color);
  background-color: #ffffff;
  border: 2px solid var(--primary-color);
}

.div-links-contas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.div-procura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.div-procura .div-ipt-procura {
  background-color: #ffffff;
  flex-direction: column;
  height: 5rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 7px;
  border: 3px solid var(--primary-color);
  margin-bottom: 15px;
  padding: 4px;
  /* clip-path: polygon(0 25px, 25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px)); */
}

.div-ipt-procura label {
  color: black;
  font-weight: bold;
}

.div-ipt-procura .ipt_procura {
  /* border: 0; */
  height: 30px;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  /* border-bottom: 2px solid linear-gradient(to right, #6E035C 0%, #B94FFA 50%, #6E035C 100%); */
}

.mostrarUsuarios {
  /* overflow-x: scroll; */
  overflow-y: scroll;
  scrollbar-color: var(--light-primary-color);
  margin-top: 30px;
  height: 200px;
  margin-bottom: 40px;
  width: 75%;
  /* border: var(--verde-3) 2px solid; */
}

select,
option {
  cursor: pointer;
}

table {
  position: relative;
  z-index: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table .colunaDelete {
  text-align: center;
}

td,
th {
  text-align: center;
  padding: 10px;
}

td {
  border-bottom: 1px solid #008080;
  text-align: center;
}

.colunaDelete {
  text-align: left;
}

thead {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* ADMINISTRAÇAO USUÁRIOS - Botão Editar */

.out_edit {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background-color: #00000090;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.25s;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal_edit {
  transition: 0.25s;
  z-index: 11;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  width: 30vw;
  cursor: auto;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.edit_modal .edit_content div {
  display: flex;
}

.modal_edit h3 {
  margin-bottom: 20px;
}

.edit_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit_content > div label {
  margin-left: 20px;
}

.edit_content > div input {
  border: #00863f 2px solid;
  background-color: #f4f4f4;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 100px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.edit_headers {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.edit_headers span {
  cursor: pointer;
}

.edit_buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.edit_buttons button {
  padding: 20px 30px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s;
}

.confirm_button_delete,
.confirm_button_delete_user {
  color: #fff;
  border: none;
  background-color: #e30b0b;
  border-radius: 100px;
}

.confirm_button_delete:hover,
.confirm_button_delete_user:hover {
  background-color: #9f0b0b;
}

.confirm_button {
  color: #fff;
  border: none;
  background-color: #00a335;
  border-radius: 100px;
}

.confirm_button:hover {
  background-color: #00863f;
}

.cancel_button {
  color: #000;
  border: none;
  background-color: #cbcbcb;
  border-radius: 100px;
}

.cancel_button:hover {
  background-color: #a7a7a7;
}

.material-symbols-outlined {
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  transition: 0.25s;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

.edit_status_field__radio {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 25%;
  width: 35%;
}

.colunaTipoAcesso span:hover {
  cursor: pointer;
}

.colunaConfiguracaoServidor span:hover {
  cursor: pointer;
}

.colunaListaUsuariosServidor span:hover {
  cursor: pointer;
}

/* Ícone de componente na tabela */
.colunaConfiguracaoComponente span {
  cursor: pointer;
}
.colunaConfiguracaoComponente span:hover {
  color: var(--primary-color);
}


/* Parte tela-administracao-servidores.html */
.edit_configuracaoServidor_modal {
  width: 90%;
}

.edit_configuracaoServidor_field__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#edit_configuracaoServidor_field__box__imagem {
  width: 40%;
}

#edit_configuracaoServidor_field__box__informacao {
  width: 60%;
  padding-right: 5%;
}


/* pagina de admin-serv componente*/

.out_edit_componente {
/* isso é meio que para herdar de out_edit*/
}

.edit_componente_modal {
  width: 40vw;
}

.edit_componente_modal .edit_field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.edit_componente_modal .edit_field label {
  font-weight: 600;
  color: #333;
  margin-left: 5px;
}

.edit_componente_modal .edit_field input {
  border: #00863f 2px solid;
  background-color: #f4f4f4;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 100px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/* Parte tela-administracao-servidores.html - lista aplicativos */

.edit_configuracaoServidorAplicativos_modal {
  z-index: 12;
  width: 90%;
}

.edit_configuracaoServidorAplicativos_field__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#edit_configuracaoServidorAplicativos_field__box__imagem {
  width: 40%;
}

#edit_configuracaoServidorAplicativos_field__box__informacao {
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
}

/* KPIs */
.dash-atualizacao {
  display: flex;
  align-self: flex-end;
}

.dash-atualizacao h4 {
  margin-right: 5px;
}

.kpi-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin-top: 40px;
}

.kpi {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 6px solid transparent;
}

.kpi p {
  margin: 5px;
}

.kpi span {
  font-size: 12px;
  align-self: flex-end;
}

.kpi h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.kpi p {
  font-size: 22px;
  font-weight: bold;
  color: #444;
}

.kpiCritico {
  border-top-color: #ff5252 !important;
}
.kpiAlerta {
  border-top-color: #f2b400 !important;
}
.kpiOk {
  border-top-color: #8bc34a !important;
}

.kpi1 {
  border-top-color: #f2b400;
}
.kpi2 {
  border-top-color: #00bcd4;
}
.kpi3 {
  border-top-color: #ff5252;
}
.kpi4 {
  border-top-color: #8bc34a;
}

/* Tabela de falhas */
.falhas-container {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  min-height: 200px;
  width: 90%;
  margin-top: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  overflow-x: scroll;
  overflow-y: scroll;
}

.falhas-container h3 {
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: left;
}

.falhas-table {
  width: 100%;
  border-collapse: collapse;
}

.falhas-table th {
  background-color: var(--lightiest-primary-color);
  color: #000;
  text-align: left;
  padding: 10px;
}

.falhas-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.servidor-select {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.servidor-select:hover {
  background-color: #45a049;
}

/* Gráfico */
.chart-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.chart-container h3 {
  margin-top: 0;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.situacao-servidores {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  margin: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.kpi {
  flex: 0 0 250px;
  background: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
  border-top: 5px solid #28a745;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.chart-box {
  width: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 20px;
}

.chart-box h3 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Legenda Disco e Ram */
.legenda {
  text-align: left;
  margin-top: 20px;
}

.legenda div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

@media (max-width: 375px) {
  .btn-nav h3 {
    font-size: 7px;
    text-align: center;
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis;
  }

  .btn-nav a {
    display: block;
  }

  .btn-nav {
    display: flex;
    margin-right: 3px;
  }

  .header-left h1 {
    display: none;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
  }

  .ativo {
    border-left: none;
    border-bottom: 5px solid #00863f;
  }
}

@media (max-width: 1075px) {
  .btn-nav a {
    display: block;
    text-align: center;
  }

  .btn-nav h3 {
    font-size: 15px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
  }
}

@media (max-width: 715px) {
  .header-left h1 {
    display: none;
  }
}

/* pagina dashboards - parte filtro*/

.filtro_servidores {
  padding: 1%;
  text-align: center;
}