footer{
    height: 500px;
    background-color: #00863F;
    border-top: #00A335 10px solid;
    border-bottom: #00A335 10px solid;
    padding: 0 10vw;
    color: #fff;
}

.footer_container{
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
}

.logo_footer p{
    font-family: 'alro-700', sans-serif;
    font-size: 60px;
    color: #fff;
}

.navigation_footer_container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_footer h3{
    font-size: 36px;
    margin-bottom: 10px;
}
.navigation_footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.horario_footer ul, .redes_footer ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.horario_footer li, .redes_footer li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.horario_footer li span, .redes_footer li span, .fa-brands{
    font-size: 32px;
}

footer > p{
    text-align: center;
}