footer{
    background-color: #00863F;
    color: #fff;
}

.footer_container{
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
    padding: 1vw 10vw;
}

.logo_footer {
    text-align: center;
}

.logo_footer p{
    font-family: 'alro-700', sans-serif;
    font-size: 30px;
    color: #fff;
}

.logo_footer img {
    width: 130px;
}

.redes_footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.navigation_footer_container{
    display: flex;
    align-items: center;
}

.navigation_footer {
    text-align: center;
}

.navigation_footer ul{
    display: flex;
    gap: 20px;
}

.horario_footer ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.horario_footer li, .redes_footer li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.horario_footer li span, .redes_footer li span, .fa-brands{
    font-size: 32px;
}

.direitos_footer {
    background-color: #002723;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 1024px){
    .footer_container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){
    .logo_footer img {
        width: 100px;
    }

    .navigation_footer ul {
        flex-direction: column;
        width: 260px;
    }
}