/* PÁGINA DE PREDICOES.HTML */

/* Parte de Relatório */

.div-relatorio {
  width: 100%;
  height: 8rem;
  /* background-color: #00863f; */
  display: block;
}

.div-relatorio .div-botao-relatorio {
  width: 450px;
  height: 105px;
  background-color: #00A335;
  border-radius: 24px; 
  margin-left: 15px;
  box-sizing: border-box;
  padding: 15px;
}

.div-relatorio .div-botao-relatorio:hover {
  cursor: pointer;
}

.div-botao-relatorio .div-textos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h2-branco {
  color: white;
}

.p-verde {
  color: #00FF88;
}

.div-botao-relatorio .div-flex { 
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-bola-relatorio {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: white;
}