:root {
  --primary-color: #00863f;
  --light-primary-color: #00a335;
  --lightiest-primary-color: #87c984;
}

/* PÁGINA DE PREDICOES.HTML */

/* Parte de Relatório */

.div-relatorio {
  width: 100%;
  height: 8rem;
  /* background-color: #00863f; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-relatorio .div-botao-relatorio {
  width: 450px;
  height: 105px;
  background-color: #00A335;
  border-radius: 24px; 
  margin-left: 15px;
  box-sizing: border-box;
  padding: 15px;
}

.div-relatorio .div-botao-relatorio:hover {
  cursor: pointer;
}

.div-botao-relatorio .div-textos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h2-branco {
  color: white;
}

.p-verde {
  color: #00FF88;
}

.div-botao-relatorio .div-flex { 
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-bola-relatorio {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-bola-relatorio .img_relatorio {
  width: 40px;
  height: 40px;
}

.chart-container-predicao {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.div-sub-titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.chart-container-teste {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.chart-container-teste h3 {
  margin-top: 0;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}