body{
    display: flex;
    height: 100vh;
    padding: 0 8vw;
}

.users_container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 18vh;
    width: 100vw;
    gap: 5vw;
}
.my_profile{
    background-color: #F4F4F4;
    border: #00863F 3px solid;
    box-sizing: border-box;
    padding: 30px 60px;
    border-radius: 20px;
}
.profile_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.profile_info .profile_image{
    height: 200px;
    border-radius: 1000px;
    border: #00863F 3px solid;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_info .profile_image .edit{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}
.profile_info .profile_image:hover img{
    filter: brightness(70%);
}
.profile_info .profile_image:hover .edit{
    width: auto;
    height: auto;
    font-size: 50px;
    opacity: 1;
}
.profile_info .profile_image:hover .edit span{
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.profile_info img{
    height: 100%;
    border-radius: 1000px;
}

.alter_infos div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.alter_infos > div{
    gap: 25px;
}

.profile_info .text_infos h2{
    font-size: 20px;
}
.profile_info .text_infos h3{
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.my_profile .material-symbols-outlined{
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    transition: 0.25s;
}

.alter_infos > div > .material-symbols-outlined:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.delete_account{
    width: 100%;
}
.delete_account button{
    cursor: pointer;
    background-color: hsla(0, 91%, 47%, 0.2);
    color: #E30B0B;
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    border: #E30B0B 3px solid;
    transition: 0.25s;
}
.delete_account button:hover{
    border: #9f0b0b 3px solid;
    color: #fff;
    letter-spacing: 0.5px;
    background-color: #9f0b0b;
}
.all_users{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 60vh;
    padding-top: 20px;
}

.all_users .users{
    overflow-y: scroll;
    scrollbar-color: #00863F #eeeeee; /* thumb color, track color */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.all_users .user{
    background-color: #F4F4F4;
    border: #00863F 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 100px;
}

.all_users .user .photo_info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.all_users .user .photo_info .user_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.all_users .user .photo{
    width: 50px;
    height: 50px;
    border: #00863F 3px solid;
    border-radius: 100px
}
.all_users .user .photo img{
    width: 100%;
    border-radius: 100px
}
.user .user_info p{
    font-weight: 600;
    font-size: 14px;
}
.user .user_info span{
    font-size: 10px;
    font-weight: 600;
    color: #00000080;
}

.all_users .user .user_email{
    font-weight: 600;
    margin-right: 5%;
}

@media (max-width: 1285px) {
    .all_users .user{
        flex-direction: column;
        align-items: center;
    }
    .all_users .user .user_email{
        margin: 0;
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    .users_container{
        margin-top: 0;
        flex-direction: column;
    }
    body{
        padding-top: 30vh;
        height: auto;
    }
}

@media (max-width: 550px){
    body{
        padding: 20vh 1vw;
    }
    .users_container{
        width: 100vw;
    }
    .my_profile{
        box-sizing: border-box;
        padding: 10%;
    }
    .profile_info .profile_image{
        height: 100px;
    }
    .delete_account{
        width: 70%;
    }
}